<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>book-form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item>
      <ion-label position="floating">Titre</ion-label>
      <ion-input [(ngModel)]="book.title" type="text"></ion-input>
    </ion-item>

    <ion-list-header>
      <ion-label>Catégories</ion-label>
      <ion-button (click)="addCategory()">Ajouter une catégorie</ion-button>
    </ion-list-header>
    <ion-item-group>
      <ion-item *ngFor="let category of book.categories; let pos=index; trackBy:trackByIndex">
        <ion-input type="text" [(ngModel)]="book.categories[pos]" ></ion-input>
        <ion-icon slot="end" name="trash" (click)="deleteCategory(pos)"></ion-icon>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="validate()">Valider</ion-button>
  </ion-toolbar>
</ion-footer>
