<ion-header>
  <ion-toolbar>
    <ion-title>{{ note.id ? 'Modification' : 'Ajout' }} de note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Titre</ion-label>
    <ion-input type="text" [(ngModel)]="note.title"></ion-input>
  </ion-item>

  <ion-img src="data:image/jpeg;base64,{{ note.image }}" *ngIf="note.image"></ion-img>

  <ion-button expand="block" (click)="cliclac()">Prendre un photo</ion-button>

  <ion-button expand="full" (click)="validate()">Valider</ion-button>

</ion-content>
