<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>user-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ user.fullName }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="user.picture"></ion-img>
      <p>{{ user.address }} {{ user.postalCode }} {{ user.city }}</p>
      <p>{{ user.country }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
