<ion-header>
  <ion-toolbar>
    <ion-title>Liste des concerts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item *ngFor="let concert of (concertService.concertChange| async)">
      <ion-label>
        <h3>{{ concert.groupe }}</h3>
        <p> {{ concert.salle }} le {{ concert.date | date: 'd/MM/yyyy' }}</p>
      </ion-label>
      <ion-chip slot="end">{{ concert.note }} / 10</ion-chip>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block">Nouveau concert</ion-button>
  </ion-toolbar>
</ion-footer>
